<img src="/images/main_pick.jpg" alt="Entrance to the bar">
<h3>About us</h3>
<p>Yokel! Have you crossed the ocean, and your Motherland won't let you go? Do you forget English every time
    you get drunk? Here at Hove Beach you can meet the same losers!</p>
<p>We have everything from tap water to domestic vodka.</p>
<p>Bar address: Mohawk Avenue, Hove Beach (corner of the building next to the vacant lot, blue neon sign
    "COMRADES BAR"). The bartender's name is Mickey.</p>
<h3>Schedule:</h3>
<p>Mon-Sun, 18:00-03:00.</p>