<div class="grid-container">
    <div class="card">
        <img src="/images/menu_cherenkov.jpg" alt="Drink 1">
        <h3>Vodka Cherenkov</h3>
        <p class="price">$5.99</p>
    </div>
    <div class="card">
        <img src="/images/menu_pisswasser.jpg" alt="Drink 2">
        <h3>Beer Pisswasser</h3>
        <p class="price">$4.49</p>
    </div>
    <div class="card">
        <img src="/images/menu_themount.jpg" alt="Drink 3">
        <h3>Whiskey The Mount</h3>
        <p class="price">$7.25</p>
    </div>
    <div class="card">
        <img src="/images/menu_sprunk.jpg" alt="Drink 4">
        <h3>Soda Sprunk</h3>
        <p class="price">$2.49</p>
    </div>
    <div class="card">
        <img src="/images/menu_sprunklight.jpg" alt="Drink 5">
        <h3>Soda Sprunk Light</h3>
        <p class="price">$2.49</p>
    </div>
</div>