/* Устанавливаем общий стиль для страницы */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Фон */
body {
    background-image: url('../images/bg.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover;
    background-attachment: fixed; /* Фиксируем фон */
    background-position: center;
    color: #ffffff; /* Цвет текста */
    
}


.navbar {
    box-sizing: border-box; 
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    padding: 0.5em;
    padding-inline: 4em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-container {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Расстояние между ссылками */
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
    font-size: 1.1em;
    transition: color 0.5s ease, opacity 0.3s ease;
}

.nav-links a:hover {
    opacity: 1;
    color: #f39c12; /* Изменение цвета при наведении */
}

.nav-links a.active {
    opacity: 1;
    color: #f39c12;
}

.logo {
    display: inline-block; /* Устанавливаем как блочный элемент для нажатия */
    height: 3em;
    width: 10em; 
    background-image: url('../images/logo.jpg'); /* Путь к изображению */
    background-size: contain; /* Масштабируем изображение, чтобы поместилось */
    background-repeat: no-repeat; 
    background-position: center; /* Центрируем изображение */
    cursor: pointer; /* Указатель мыши при наведении */
    opacity: 0.5;
    transition: opacity 0.7s ease;
}

.logo:hover {
    opacity: 0.8; /* Эффект при наведении */
}

/* Контейнер контента */
.content {
    background: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон для контента */
    width: 50%;
    max-width: 800px;
    margin: 6em auto; /* Центрируем контент */
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.5);
    
}

/* Стиль заголовка */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

/* Основной контент */
main {
    font-size: 0.7em;
    line-height: 1.6;
    text-align: justify;
    /* max-height: 500px; /* Ограничиваем высоту для демонстрации скролла */
    /* overflow-y: auto; /* Прокрутка при переполнении */
}

/* Подвал */
footer {
    text-align: center;
    margin-top: 4em;
    font-size: 0.7em;
    opacity: 0.6;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Адаптивные колонки */
    gap: 1.5em; /* Расстояние между карточками */
    max-width: 1200px; /* Максимальная ширина сетки */
    width: 100%;
}

/* Стили для карточки */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень */
}

/* Изображения карточек */
.card img {
    width: 100%; /* Занимает всю ширину карточки */
    max-width: 250px; /* Фиксированная ширина */
    height: auto;
    margin-bottom: 0.5em;
    border-radius: 5px; /* Лёгкое скругление изображения */
}

/* Название стола */
.card h3 {
    margin: 0.5em 0;
    color: #ffffff; /* Белый текст */
    font-size: 1.2em;
}

/* Кнопка резервирования */
.reserve-btn {
    margin-top: 0.5em;
    padding: 0.5em 1em;
    background-color: #f39c12; /* Оранжевый цвет кнопки */
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reserve-btn:hover {
    background-color: #d9820d; /* Цвет при наведении */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(66, 66, 66, 0.7);;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень */
    padding: 1em;
    border-radius: 10px;
    position: relative;
}
.arrow-btn {
    background-color: #f39c12;
    color: #ffffff;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0 1em; /* Отступы для расположения стрелок по бокам */
}
.arrow-btn:hover {
    background: #d9820d;
}
#selected-hour {
    font-size: 1.5em;
    margin: 0 1em;
    color: #f39c12;
}

.submit-btn {
    background-color: #f39c12;
    color: #ffffff;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: auto;
}

.submit-btn:hover {
    background: #d9820d;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .logo {
        margin-bottom: 10px; /* Отступ между логотипом и навигацией */
    }

    .content {
        width: 80%;
        margin: 12em auto;
    }

}

